version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    target-branch: "master"
    schedule:
      interval: "monthly"
    allow:
      - dependency-type: "production"
    ignore:
      - dependency-name: "modbus*"
      - dependency-name: "*modbus*"
